@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slider-horizontal {
    animation: slider-horizontal 20s linear infinite;
  }
}

@keyframes slider-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
